@model PontoPlus.Manager.Domain.Entities.Usuario

@{
    ViewData["Title"] = "Ponto Eletrônico";
}

@section scripts{
<script language="JavaScript">
    function myTime() {
        var d = new Date(), displayDate;
        if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
            displayDate = d.toLocaleTimeString('pt-BR');
        }
        else {
            displayDate = d.toLocaleTimeString('pt-BR', { timeZone: 'America/Sao_Paulo' });
        }
        document.getElementById("clock").innerHTML = displayDate;
    }
    $().ready(function () {
        myTime();
        var myVar = setInterval(myTime, 1000);
    });
</script>
}

@section Css{
<style>
    .ponto-card {
        width: 450px;
        margin: 70px auto;
        color: #7a7a7a;
        border-radius: 2px;
        margin-bottom: 15px;
        font-size: 13px;
        background: #ececec;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 15px 30px;
        position: relative;
    }

    .usuario-info {
        margin-top: 20px;
    }

    .usuario-info ul li {
        margin-right: 20px;
    }

    .usuario-info ul li:last-child {
        margin-right: 0 im !important;
    }

    .btn-ponto .btn {
        margin-top: 30px;
        border-radius: 20px;
        background: #2C3E50;
        border: none;
        margin-bottom: 20px;
    }

    .btn-ponto .btn:hover,
    .btn-ponto .btn:focus {
        @*background:#50B8B3;*@background: #157ab5;
        outline: none !important;
    }
</style>
}

<div class="container">
    <div class="text-center">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="ponto-card">
        <div class="clock">
            <h1 id="clock" class="text-center">-- : -- : --</h1>
        </div>
        <div class="usuario-info">
            <ul class="list-inline text-center">
                <li>@Html.DisplayFor(model => model.EntradaAm) - @Html.DisplayFor(model => model.SaidaAm)
                    @Html.DisplayFor(model => model.EntradaPm) - @Html.DisplayFor(model => model.SaidaPm)</li>
            </ul>
        </div>
        <h1></h1>
        <div class="btn-ponto">
            <form asp-action="Index" asp-controller="Home" method="POST">
                @{
                    if (Model.Pontos != null)
                    {
                        RegistroPonto ponto = Model.Pontos.FirstOrDefault<RegistroPonto>();
                        <input type="hidden" name="id" value="@ponto.Id">
                        <button type="submit" name="Ponto" class="btn btn-primary btn-lg btn-block">Registrar Saída</button>
                        //<input type="submit" name="Ponto" class="btn btn-primary btn-lg btn-block" value="Registrar Saída">
                    }
                    else
                    {
                        <button type="submit" name="Ponto" class="btn btn-primary btn-lg btn-block">Registrar Entrada</button>
                        // <input type="submit" name="Ponto" class="btn btn-primary btn-lg btn-block" value="Registrar Entrada">
                    }
                }
            </form>
            <a class="Instrucoes" asp-action="Instrucoes"
                style="text-decoration: none; color: #2c3E50; text-align: right">Instruções e
                regras do
                ponto</a>
        </div>
    </div>
</div>