@using PontoPlus.PontoPlus.Domain.Entities
@model PontoPlus.PontoPlus.Domain.Entities.Usuario

@{
    ViewData["Title"] = "Ponto Eletrônico";
}


<div class="container">
    <div class="text-center">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="ponto-card">
        <div class="clock">
            <h1 id="clock" class="text-center">-- : -- : --</h1>
        </div>
        <div class="usuario-info">
            <ul class="list-inline text-center">
                <li>@Html.DisplayFor(model => model.EntradaAm) - @Html.DisplayFor(model => model.SaidaAm)
                    @Html.DisplayFor(model => model.EntradaPm) - @Html.DisplayFor(model => model.SaidaPm)</li>
            </ul>
        </div>
        <h1></h1>
        <div class="btn-ponto">
            <form asp-action="Index" asp-controller="Home" method="POST">
                @{
                    if (Model.Pontos != null)
                    {
                        RegistroPonto ponto = Model.Pontos.FirstOrDefault<RegistroPonto>();
                        <input type="hidden" name="id" value="@ponto.Id">
                        <button type="submit" name="Ponto" class="btn btn-primary btn-lg btn-block">Registrar Saída</button>
                        //<input type="submit" name="Ponto" class="btn btn-primary btn-lg btn-block" value="Registrar Saída">
                    }
                    else
                    {
                        <button type="submit" name="Ponto" class="btn btn-primary btn-lg btn-block">Registrar Entrada</button>
                        // <input type="submit" name="Ponto" class="btn btn-primary btn-lg btn-block" value="Registrar Entrada">
                    }
                }
            </form>
            <a class="Instrucoes" asp-action="Instrucoes"
                style="text-decoration: none; color: #2c3E50; text-align: right">Instruções e
                regras do
                ponto</a>
        </div>
    </div>
</div>

<partial name="/Views/Shared/_Chat.cshtml" />

@section scripts{
<script language="JavaScript">
    function myTime() {
        var d = new Date(), displayDate;
        if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
            displayDate = d.toLocaleTimeString('pt-BR');
        }
        else {
            displayDate = d.toLocaleTimeString('pt-BR', { timeZone: 'America/Sao_Paulo' });
        }
        document.getElementById("clock").innerHTML = displayDate;
    }
    $().ready(function () {
        myTime();
        var myVar = setInterval(myTime, 1000);
    });
</script>
}