@model IEnumerable<PontoPlus.Models.RegistroPonto>

@{
    ViewData["Title"] = "Histórico de Pontos";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                Data
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Entrada)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Saida)
            </th>
            <th class="text-center">
                Total De Horas
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @item.Entrada.ToString("dd/MM/yyyy")
                </td>
                <td class="text-center">
                    @item.Entrada.ToString("HH:mm:ss")
                </td>
                <td class="text-center">
                    @{
                        if (item.Saida != new DateTime())
                        {
                            @item.Saida.ToString("HH:mm:ss")
                        }
                        else
                        {
                            @("-")
                        }
                    }
                </td>
                <td class="text-center">
                    @{
                        if (item.TotalTempo != new TimeSpan())
                        {
                            @item.TotalTempo.ToString("hh\\:mm")
                        }
                        else
                        {
                            @("-")
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>