@model IEnumerable<PontoPlus.Manager.Domain.Entities.Usuario>

@{
    ViewData["Title"] = "Funcionários";
}

@section Css{
<style>
    .btn-new a,
    .btn-list a {
        text-decoration: none;
        color: #2C3E50;
    }
</style>
}

<h2 class="text-center">@ViewData["Title"]</h2>

<p>
    <button class="btn-new btn btn-secondary create"><a asp-action="Create">Novo Funcionário</a></button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamentos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntradaAm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaidaAm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntradaPm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaidaPm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamentos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntradaAm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaidaAm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntradaPm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaidaPm)
                </td>
                <td>
                    <button class="btn-list btn btn-outline-success details" data-id="@item.Id"><a asp-action="Details"
                        asp-route-id="@item.Id">Detalhes</a></button>
                    <button class="btn-list btn btn-outline-secondary edit" data-id="@item.Id"><a asp-action="Edit"
                        asp-route-id="@item.Id">Editar</a></button>
                    <button class="btn-list btn btn-outline-danger delete" data-id="@item.Id"><a asp-action="Delete"
                        asp-route-id="@item.Id">Deletar</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="modal" class="modal fade" role="dialog"></div>

@section scripts{
<script>
    $(function () {
        $(".details").click(function () {
            var id = $(this).attr("data-id");
            $("#modal").load("Details?id=" + id, function () {
                $("#modal").modal();
            })
        });

        $(".edit").click(function () {
            var id = $(this).attr("data-id");
            $("#modal").load("Edit?id=" + id, function () {
                $("#modal").modal();
            })
        });

        $(".delete").click(function () {
            var id = $(this).attr("data-id");
            $("#modal").load("Delete?id=" + id, function () {
                $("#modal").modal();
            })
        });

        $(".create").click(function () {
            $("#modal").load("Create", function () {
                $("#modal").modal();
            })
        });

    })
</script>
}