@model IEnumerable<PontoPlus.Manager.Domain.Entities.Usuario>
@{
    ViewData["Title"] = "Relatório de Horas Extras";

    var dateInitial = DateTime.Parse(ViewData["minDate"].ToString());
    var dateFinal = DateTime.Parse(ViewData["maxDate"].ToString());
}

<div>
    <h2>@ViewData["Title"]</h2>

    <form asp-action="Relatorio" asp-controller="Usuarios" class="form-inline">
        <div class="row">
            <div class="col-sm-offset-5 col-sm-3">
                <label for="minDate">Data Inicial:</label>
                <input class="form-control" type="date" id="minDate" name="minDate" value="@ViewData["minDate"]" />
            </div>
            <div class="col-sm-3">
                <label for="maxDate">Data Final: </label>
                <input class="form-control" type="date" id="maxDate" name="maxDate" value="@ViewData["maxDate"]" />

            </div>
            <div class="col-sm-1">
                <input type="submit" name="Pesquisar" value="Pesquisar" class="btn btn-default" />

            </div>
        </div>
    </form>
</div>


<table class="table" style="margin-top: 10px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="text-center">
                Total De Horas
            </th>
            <th class="text-center">
                Horas Extras
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var totalHoras = item.TotalHoras(dateInitial, dateFinal).ToString(@"hh\:mm");
            var totalHorasExtra = item.TotalHorasExtra(dateInitial, dateFinal);

            <tr>
                <td>
                    @item.Nome
                </td>
                <td class="text-center">
                    @totalHoras
                </td>
                <td class="text-center">
                    @(((totalHorasExtra < TimeSpan.Zero) ? "-" : "") + totalHorasExtra.ToString(@"hh\:mm"))
                </td>
            </tr>
        }
    </tbody>
</table>